services:
  app:
    build:
      context: .
      target: production
    command: ["streamlit", "run", "src/main.py"]
    ports:
      - "8501:8501"
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    environment:
      - LANGFUSE_HOST=https://cloud.langfuse.com
      - LANGFUSE_ENABLED=true
      - MPLCONFIGDIR=/tmp/matplotlib

  test:
    build:
      context: .
      target: builder
    command: ["pytest"]
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
    env_file:
      - .env
    environment:
      - LANGFUSE_ENABLED=false
      - PYTHONPATH=/app
