services:
  app:
    build:
      context: .
      target: app
    command: streamlit run app/main.py
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    env_file:
      - .env

  dev:
    build:
      context: .
      target: dev
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --NotebookApp.token=''
    ports:
      - "8888:8888"
    profiles: [ dev ]
    volumes:
      - .:/app
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    env_file:
      - .env
